<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="clients" class="nav-link" routerLinkActive="active">Client List</a>
    </li>
    <li class="nav-item">
      <a  class="nav-link"  (click)="frame.show()" routerLinkActive="active">Add Client</a>
    </li>
  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">Client Web</h2>
  <hr>
<div class="container">

  <!-- Section: Blog v.3  " -->
  <!-- <button type="button" mdbBtn class="btn btn-success btn-rounded"  data-toggle="modal" data-target="#basicExample" (click)="frame.show()" mdbWavesEffect>Ajouter client</button>-->
  <section class="my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Client List</h2>
    <!-- Section description -->
    <p class="text-center dark-grey-text w-responsive mx-auto mb-5">The list.</p>
    <div  *ngFor="let col of clients | async  | paginate: config" >
      <!-- Grid row -->

      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-5 col-xl-4">

          <!-- Featured image -->
          <div class="view overlay rounded zoom z-depth-1-half mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                    <img  class="img-fluid" with="1000px"  height="90px" [src]="sane(col.imageSrc)" alt="{{col.lastName}}">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-7 col-xl-8">

          <!-- Post title -->
          <h3 class="font-weight-bold mb-3"><strong>{{col.firstName}} -- {{col.lastName}}  </strong></h3>
          <!-- Excerpt -->
          <p class="dark-grey-text">  <a class="font-weight-bold">id :</a> {{col.id}},<br>
            <a class="font-weight-bold">CIN : </a>{{col.cin}},<br>
            <a class="font-weight-bold"> Email :</a> {{col.mail}},<br>
            <a class="font-weight-bold"> Description :</a> {{col.description}}.<br>
          </p>

          <a mdbBtn class="btn btn-outline-info waves-effect" (click)="updateclient(col.id)"  mdbWavesEffect><i class="fa fa-edit">Update</i></a>
          <a mdbBtn class="btn btn-outline-danger waves-effect" (click)="fdelete.show() "  mdbWavesEffect><i class="fa fa-trash"></i>Delete</a>


      <!-- Grid row -->

      <hr class="my-5">
    </div>

      </div>
      </div>
    <div  class="">
      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
  </section>

</div>

<div mdbModal #frame class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form (ngSubmit)="onSubmit()">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Add client</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
            <input type="text" id="form34" class="form-control" mdbInput mdbValidate [formControl]="contactFormModalName">
            <label for="form34">Your First Name</label>
            <mdb-error
              *ngIf="contactFormModalName.invalid && (contactFormModalName.dirty || contactFormModalName.touched)">Input
              invalid
            </mdb-error>
            <mdb-success
              *ngIf="contactFormModalName.valid && (contactFormModalName.dirty || contactFormModalName.touched)">Input
              valid
            </mdb-success>
          </div>
          <div class="md-form mb-5">
            <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
            <input type="text" id="form35" class="form-control" mdbInput mdbValidate [formControl]="contactFormModallastName">
            <label for="form35">Your Last Name</label>
            <mdb-error
              *ngIf="contactFormModallastName.invalid && (contactFormModallastName.dirty || contactFormModallastName.touched)">Input
              invalid
            </mdb-error>
            <mdb-success
              *ngIf="contactFormModallastName.valid && (contactFormModallastName.dirty || contactFormModallastName.touched)">Input
              valid
            </mdb-success>
          </div>
          <div class="md-form mb-5">

            <input type="text" id="form36" class="form-control" mdbInput mdbValidate [formControl]="contactFormModallastName">
            <label for="form36">Your Last Name</label>
            <mdb-error
              *ngIf="contactFormModalcin.invalid && (contactFormModallastName.dirty || contactFormModallastName.touched)">Input
              invalid
            </mdb-error>
            <mdb-success
              *ngIf="contactFormModalcin.valid && (contactFormModalcin.dirty || contactFormModalcin.touched)">Input
              valid
            </mdb-success>
          </div>

          <div class="md-form mb-5">
            <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
            <input type="email" id="form29" class="form-control" mdbInput mdbValidate
                   [formControl]="contactFormModalEmail">
            <label for="form29">Your email</label>
            <mdb-error
              *ngIf="contactFormModalEmail.invalid && (contactFormModalEmail.dirty || contactFormModalEmail.touched)">
              Input invalid
            </mdb-error>
            <mdb-success
              *ngIf="contactFormModalEmail.valid && (contactFormModalEmail.dirty || contactFormModalEmail.touched)">Input
              valid
            </mdb-success>
          </div>

          <div class="md-form mb-5">
            <label for="imageUpdate">Image</label>
            <input type="file"
                   class="form-control" mdbInput mdbValidate
                   [formControl]="contactFormModalSubject"
                   id="imageUpdate"
                   accept="image/*"
                   name="imageUpdate"
                   placeholder="Choose your imageAdd "
                   (change)="onFileChanged($event)">
            <div [hidden]="!contactFormModalSubject.pristine" class="alert alert-danger">Image is required</div>
          </div>

          <div class="md-form">
            <mdb-icon fas icon="pencil-alt" class="prefix grey-text"></mdb-icon>
            <textarea type="text" id="form8" class="md-textarea form-control" rows="1" mdbInput mdbValidate
                      [formControl]="contactFormModalMessage"></textarea>
            <label for="form8">Your message</label>
            <mdb-error
              *ngIf="contactFormModalMessage.invalid && (contactFormModalMessage.dirty || contactFormModalMessage.touched)">
              Input invalid
            </mdb-error>
            <mdb-success
              *ngIf="contactFormModalMessage.valid && (contactFormModalMessage.dirty || contactFormModalMessage.touched)">
              Input valid
            </mdb-success>
          </div>

        </div>

        <div class="modal-footer justify-content-center">
          <a type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Send
            <mdb-icon fas icon="paper-plane" class="ml-1"></mdb-icon>
          </a>
          <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" data-dismiss="modal"
             mdbWavesEffect (click)="frame.hide()">Cancel <i class="fab fa-mdb"></i></a>
        </div>
      </div>
    </form>
  </div>
</div>
<!--  <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample"
          (click)="frame.show()" mdbWavesEffect>
    Bottom
  </button>-->

  <div mdbModal #fupdate class="modal fade left" id="frameModalTo" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form (ngSubmit)="onSubmitt()">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Add client</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="fupdate.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            <div class="md-form mb-5">
              <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
              <input type="text" id="form37" class="form-control" mdbInput mdbValidate [formControl]="contactFormModalName">
              <label for="form37">Your First Name</label>
              <mdb-error
                *ngIf="contactFormModalName.invalid && (contactFormModalName.dirty || contactFormModalName.touched)">Input
                invalid
              </mdb-error>
              <mdb-success
                *ngIf="contactFormModalName.valid && (contactFormModalName.dirty || contactFormModalName.touched)">Input
                valid
              </mdb-success>
            </div>
            <div class="md-form mb-5">
              <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
              <input type="text" id="form38" class="form-control" mdbInput mdbValidate [formControl]="contactFormModallastName">
              <label for="form38">Your Last Name</label>
              <mdb-error
                *ngIf="contactFormModallastName.invalid && (contactFormModallastName.dirty || contactFormModallastName.touched)">Input
                invalid
              </mdb-error>
              <mdb-success
                *ngIf="contactFormModallastName.valid && (contactFormModallastName.dirty || contactFormModallastName.touched)">Input
                valid
              </mdb-success>
            </div>
            <div class="md-form mb-5">

              <input type="text" id="form39" class="form-control" mdbInput mdbValidate [formControl]="contactFormModallastName">
              <label for="form39">CIN</label>
              <mdb-error
                *ngIf="contactFormModalcin.invalid && (contactFormModalcin.dirty || contactFormModalcin.touched)">Input
                invalid
              </mdb-error>
              <mdb-success
                *ngIf="contactFormModalcin.valid && (contactFormModalcin.dirty || contactFormModalcin.touched)">Input
                valid
              </mdb-success>
            </div>

            <div class="md-form mb-5">
              <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
              <input type="email" id="form9" class="form-control" mdbInput mdbValidate
                     [formControl]="contactFormModalEmail">
              <label for="form9">Your email</label>
              <mdb-error
                *ngIf="contactFormModalEmail.invalid && (contactFormModalEmail.dirty || contactFormModalEmail.touched)">
                Input invalid
              </mdb-error>
              <mdb-success
                *ngIf="contactFormModalEmail.valid && (contactFormModalEmail.dirty || contactFormModalEmail.touched)">Input
                valid
              </mdb-success>
            </div>

            <div class="md-form mb-5">
              <label for="imageUpdat">Image</label>
              <BR><br>
              <input type="file"
                     class="form-control" mdbInput mdbValidate
                     [formControl]="contactFormModalSubject"
                     id="imageUpdat"
                     accept="image/*"
                     name="imageUpdate"
                     (change)="onFileChanged($event)">
              <div [hidden]="!contactFormModalSubject.pristine" class="alert alert-danger">Image is required</div>
            </div>

            <div class="md-form">
              <mdb-icon fas icon="pencil-alt" class="prefix grey-text"></mdb-icon>
              <textarea type="text" id="form6" class="md-textarea form-control" rows="1" mdbInput mdbValidate
                        [formControl]="contactFormModalMessage"></textarea>
              <label for="form6">Your message</label>
              <mdb-error
                *ngIf="contactFormModalMessage.invalid && (contactFormModalMessage.dirty || contactFormModalMessage.touched)">
                Input invalid
              </mdb-error>
              <mdb-success
                *ngIf="contactFormModalMessage.valid && (contactFormModalMessage.dirty || contactFormModalMessage.touched)">
                Input valid
              </mdb-success>
            </div>

          </div>

          <div class="modal-footer justify-content-center">
            <a type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Send
              <mdb-icon fas icon="paper-plane" class="ml-1"></mdb-icon>
            </a>
            <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" data-dismiss="modal"
               mdbWavesEffect (click)="frame.hide()">Cancel <i class="fab fa-mdb"></i></a>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div mdbModal #fdelete class="modal fade bottom modal-scrolling" id="frameModalclose" tabindex="-1"
       role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog modal-frame modal-bottom modal-notify modal-info" role="document">
      <!--Content-->
<div class="modal-content">
  <!--Body-->
  <div class="modal-body">
    <div class="row d-flex justify-content-center align-items-center">

      <p class="pt-3 pr-2">Are you sure !! You want delete?</p>

      <a type="button" mdbBtn color="primary" class="waves-light"  (click)="delete()" mdbWavesEffect> Delete
        <mdb-icon fas icon="book" class="ml-1"></mdb-icon>
      </a>
      <a type="button" mdbBtn color="primary" outline="true" class="waves-light" mdbWavesEffect
         data-dismiss="modal" (click)="fdelete.hide()">Cancel</a>
    </div>
  </div>
</div>
<!--/.Content-->
</div>
</div>

</div>

<footer class="page-footer font-small blue">


  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/education/angular/"> MDBootstrap.com</a>
  </div>



</footer>
